In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [3]:
from pandas.plotting import scatter_matrix 
import matplotlib.pyplot as plt 
from sklearn import model_selection 
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score 
from sklearn.linear_model import LogisticRegression 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.neighbors import KNeighborsClassifier 
import datetime

from sklearn.preprocessing import StandardScaler
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import PolynomialFeatures

In [4]:
data_path = "house sale.csv"

In [5]:
train = pd.read_csv(data_path)
print(train)

     Number                  Address  Bedrooms  Baths  SquareFeet  YearBuilt  \
0         1     1510 First Ave #112          2    1.0        1120       1993
1         2          1020 Center St          3    1.0        1224       1900
2         3       918 Chatterton St          4    1.0        1540       1970
3         4  1023 & 1025 Spring St.          3    1.0        1154       1900
4         5             503 2nd Ave          3    1.0        1277       1900
..      ...                      ...       ...    ...         ...        ...
924     925               569 Hwy 6          4    3.0        1920       2006
925     926    2000 Country Club Dr          4    3.0        2958       1968
926     927            311 11th Ave          4    3.0        3359       1993
927     928           384 450th Ave          3    2.5        1565       1987
928     929           154 Walnut Rd          5    6.0        3792       1990

     YearSold  CostPerSqFt  SalePrice
0        2005         6.25       7000
1        2006        22.06      27000
2        2006        18.18      28000
3        2006        26.00      30000
4        2005        24.08      30750
..        ...          ...        ...
924      2014       169.27     325000
925      2014       121.70     360000
926      2014       107.92     362500
927      2015       258.79     405000
928      2014       159.81     606000

[929 rows x 9 columns]

In [6]:
feature_names = ['Bedrooms','Baths','SquareFeet','YearBuilt','YearSold']

In [7]:
data = pd.DataFrame()

In [8]:
data['Bedrooms']=train['Bedrooms']
data['Baths']=train['Baths']
data['SquareFeet']=train['SquareFeet']
data['YearBuilt']=train['YearBuilt']
data['YearSold']=train['YearSold']
data['SalePrice']=train['SalePrice']

In [9]:
data.head()

   Bedrooms  Baths  SquareFeet  YearBuilt  YearSold  SalePrice
0         2    1.0        1120       1993      2005       7000
1         3    1.0        1224       1900      2006      27000
2         4    1.0        1540       1970      2006      28000
3         3    1.0        1154       1900      2006      30000
4         3    1.0        1277       1900      2005      30750

In [10]:
X = data[feature_names]

In [11]:
print(X)

     Bedrooms  Baths  SquareFeet  YearBuilt  YearSold
0           2    1.0        1120       1993      2005
1           3    1.0        1224       1900      2006
2           4    1.0        1540       1970      2006
3           3    1.0        1154       1900      2006
4           3    1.0        1277       1900      2005
..        ...    ...         ...        ...       ...
924         4    3.0        1920       2006      2014
925         4    3.0        2958       1968      2014
926         4    3.0        3359       1993      2014
927         3    2.5        1565       1987      2015
928         5    6.0        3792       1990      2014

[929 rows x 5 columns]

In [12]:
y = data.SalePrice

In [13]:
print(y)

0        7000
1       27000
2       28000
3       30000
4       30750
        ...
924    325000
925    360000
926    362500
927    405000
928    606000
Name: SalePrice, Length: 929, dtype: int64

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.40, random_state=90)

In [15]:
logreg = LogisticRegression()

In [16]:
logreg.fit(X_train, y_train)

c:\users\lenovo\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\lenovo\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [17]:
y_pred = logreg.predict(X_test)
y_pred

array([125000, 225000, 157000, 125000,  90000, 340000,  90000, 115000,
        90000, 135000, 135000,  90000,  97000, 125000, 110000, 230000,
       135000,  85000, 220000,  85000,  70000, 180000,  90000, 225000,
        75000,  90000, 135000, 225000,  90000,  90000,  70000,  35151,
       225000, 125000, 180000,  90000,  85000, 125000,  90000, 125000,
       495000,  90000,  90000,  75000,  90000,  85000, 135000,  85000,
       135000, 135000,  85000,  70000,  75000, 109000,  90000, 115000,
       150950, 180000,  70000, 180000, 135000,  90000, 135000, 230000,
       135000, 135000,  85000,  90000, 135000,  90000,  90000, 135000,
        70000, 109000,  75000, 225000, 150950,  75000, 135000, 135000,
        90000, 205000, 180000,  85000, 180000, 135000, 135000, 109000,
       125000, 135000, 173000,  90000,  70000,  90000,  90000,  85000,
       135000,  75000, 135000,  85000, 335000,  90000, 135000,  85000,
        90000,  85000, 115000, 115000, 125000,  85000, 180000, 185000,
        90000, 235000, 205000, 121500, 185000,  35151, 150950, 150950,
        85000,  70000,  70000,  90000,  75000,  75000, 110000, 135000,
       115000,  90000, 135000, 140000,  90000, 135000,  90000, 115000,
        70000,  85000, 125000,  85000, 135000,  85000,  75000, 157000,
       109000, 125000,  90000, 157000,  90000, 225000,  75000,  75000,
        70000,  90000,  90000, 180000,  90000,  90000,  40000, 135000,
        85000,  90000,  85000,  90000, 108000,  90000,  75000,  75000,
        85000,  25000,  90000,  75000, 135000, 135000, 185000,  69900,
       135000, 125000, 350000,  40000, 135000, 135000, 135000,  70000,
       119500,  70000, 135000, 225000, 135000,  75000, 135000, 325000,
        70000,  90000,  40000,  75000, 125000, 185000, 180000,  90000,
       259000,  75000, 225000, 119500, 135000,  85000, 180000,  70000,
       225000,  90000, 135000, 157000, 185000, 125000, 125000, 135000,
       285200,  85000, 225000, 205000,  75000, 135000,  90000,  70000,
       109000, 135000, 185000, 225000, 135000,  90000, 185000,  90000,
        90000, 135000, 225000, 125000, 125000,  85000,  75000, 135000,
        90000,  85000, 225000, 185000, 185000, 185000,  90000, 183000,
        75000,  90000,  85000, 110000, 205000, 135000, 115000, 105000,
        70000, 340000,  90000, 115000,  85000,  90000,  90000,  75000,
        70000, 135000,  90000,  90000,  70000, 205000, 135000, 183000,
       225000, 135000,  75000, 125000, 350000, 225000,  85000, 282500,
        85000, 185000, 135000,  90000,  90000, 125000, 125000, 108000,
        70000, 125000,  90000,  90000,  75000, 157000, 125000,  85000,
        40000, 185000, 135000, 180000, 150950,  90000,  75000, 135000,
       125000, 185000,  75000, 225000, 135000, 205000, 340000,  70000,
       125000,  87000, 135000,  85000, 135000, 205000, 109000, 135000,
       157000,  70000, 135000, 109000,  90000,  85000, 109000,  40000,
        90000,  85000,  75000, 135000,  75000, 230000, 125000, 125000,
       185000, 180000,  85000, 108000,  90000,  90000, 135000, 109000,
       230000, 115000,  85000, 180000, 180000, 185000,  60000,  90000,
       225000, 108000, 109000, 125000,  85000, 135000, 109000, 135000,
       157000, 135000, 230000, 115000,  90000, 125000, 105000,  90000,
        85000, 185000,  90000, 135000], dtype=int64)

In [18]:
raw_data=np.sqrt(mean_squared_error(y_test, y_pred))
raw_data

57175.247197584016

In [19]:
r2 = r2_score(y_test,y_pred)
r2

0.43447447837084097

In [21]:
naming=['Bedrooms','Baths','SquareFeet','YearBuilt','YearSold']
B=[]
print("ENTER VALUE FOR\n")
for i in naming:
  print(i)
  B.append(input())
X_value=np.reshape(B,(1, -1))
getresult=LogisticRegression()
getresult.fit(X_train, y_train)
predictions=getresult.predict(X_value.astype('int'))
print("Computer Price:\r")
print(predictions.astype('int'))

ENTER VALUE FOR

Bedrooms
2
Baths
1
SquareFeet
1120
YearBuilt
1993
YearSold
2005

c:\users\lenovo\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\lenovo\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

Computer Price:
[90000]